.additional-product__title {
  .uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: @special_dark-grey-2;
}

.additional-product__info {
  font-family: "Arial", sans-serif;
  line-height: 14px;
}

.additional-product__button {
  .uppercase;
  background-color: @basic_green-1;
  color: @white;
  font-size: 16px;
  line-height: 0px;
  font-family: inherit;
  padding: 20px 109px;
}
