.additional__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.additional__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-around;
  }
}
