.application-form {
  .uppercase;
}

.application-form__instruction {
  color: @black;
  font-size: 14px;
}

.application-form__legend {
  text-transform: none;
  font-size: 24px;
  line-height: 26px;
  color: @black;
}

.application-form__input {
  text-transform: inherit;
}

.application-form__button {
  font-size: 16px;
  line-height: 20px;
  .uppercase;
  font-family: inherit;
  color: @white;
  background-color: @basic_green-1;
  padding: 7px 44px;
}

.application-form__note {
  text-transform: none;
  line-height: 16px;
  color: @black;
}

.application-form__data {
  font-size: 16px;
}

.application-form__target {
  font-size: 16px;
  color: @special_dark-grey-2;
}

.application-form__contact {
  font-size: 16px;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.application-form__textarea {
  .uppercase;
  font-family: inherit;
}

.application-form__additionally {
  font-size: 16px;
  color: @black;
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.application-form__field {
  width: 50%;
}

.application-form__basic-data {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.application-form__wrap-button {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}
