.catalog__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @black;
}

.catalog__more-slogan {
  font-size: 12px;
  font-family: "Arial", sans-serif;
}

.catalog__more--button {
  font-family: inherit;
  background-color: @basic_grey;
  .uppercase;
  padding: 20px 94px;
  color: @special_dark-grey-1;
  font-size: 16px;
  line-height: 0px;
}
