.example {
  background-color: #eaeaea;
}

.example__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
}

.example__description {
  font-family: "Arial", sans-serif;
}

.example__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}
