.how-it-works {
  padding-left: 6.25%;
  padding-right: 6.25%;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding-left: 3.9%;
    padding-right: 0;
  }
}

.how-it-works__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @black;
  margin-bottom: 38px;
}

.how-it-works__list {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.how-it-works__item {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 280px;
  }
}

.how-it-works__decorative {
  width: 60px;
  height: 60px;
  background-color: @basic_green-1;

  @media (min-width: @tablet-width) {
    margin-bottom: 31px;
  }
}

.how-it-works__decorative--nutrients {
  background-image: url("../../img/advantage-leaf@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}

.how-it-works__decorative--nutrients::after {
  @media (min-width: @tablet-width) {
    content: "1";
    font-size: 280px;
    line-height: 280px;
    color: @basic_grey;
    position: relative;
    z-index: -1;
    left: 180px;
  }
}

.how-it-works__decorative--easy-cook {
  background-image: url("../../img/advantage-powder@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}

.how-it-works__decorative--easy-cook::after {
  @media (min-width: @tablet-width) {
    content: "2";
    font-size: 280px;
    line-height: 280px;
    color: @basic_grey;
    position: relative;
    z-index: -1;
    left: 180px;
  }
}

.how-it-works__decorative--replace {
  background-image: url("../../img/advantage-dining@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}

.how-it-works__decorative--replace::after {
  @media (min-width: @tablet-width) {
    content: "3";
    font-size: 280px;
    line-height: 280px;
    color: @basic_grey;
    position: relative;
    z-index: -1;
    left: 180px;
  }
}

.how-it-works__decorative--result {
  background-image: url("../../img/advantage-clock@1x.png");
  background-position: center;
  background-repeat: no-repeat;
}

.how-it-works__decorative--result::after {
  @media (min-width: @tablet-width) {
    content: "4";
    font-size: 280px;
    line-height: 280px;
    color: @basic_grey;
    position: relative;
    z-index: -1;
    left: 180px;
  }
}

.how-it-works__description {
  font-family: "Arial", sans-serif;
  margin: 0;
  width: 71.2%;
}
