.product-info {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(to bottom, transparent 0, transparent 25px, @basic_grey 10px, @basic_grey 100%);
    border: none;
    padding-left: 11.11%;
    padding-right: 11.11%;
  }

  @media (min-width: @desktop-width) {
    padding-left: 15.51%;
    padding-right: 15.51%;
  }
}

.product-info:first-child {
  border-top: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

.product-info__wrap {
  display: flex;
  justify-content: flex-start;
  height: 145px;

  @media (min-width: @tablet-width) {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 23px;
  }
}

.product-info__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;

  @media (min-width: @tablet-width) {
    align-items: center;
    width: 100%;
  }
}

.product-info__title {
  .uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
  width: 80px;

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    margin-top: 34px;
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
    margin-top: 46px;
  }
}

.product-info__weight,
.product-info__taste,
.product-info__price {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    width: 100%;
    padding-bottom: 7px;
    border-bottom: 1px solid @special_grey-2;
    margin-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 9px;
  }
}

.product-info__button {
  background-color: @basic_green-1;
  font-family: inherit;
  color: @white;
  .uppercase;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  line-height: 0;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.product-info__button:focus,
.product-info__button:hover {
  background-color: @basic_green-2;
}

.product-info__button:active {
  opacity: 0.3;
}
