.product-info__title {
  .uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
}

.product-info__weight,
.product-info__taste,
.product-info__price {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
}

.product-info__button {
  background-color: @basic_green-1;
  font-family: inherit;
  color: @white;
  .uppercase;
  padding: 20px;
  width: 100%;
  line-height: 0px;
  font-size: 16px;
}

.product-info__wrap {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.product-info__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
