.product-info {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    background-image: linear-gradient(to bottom, transparent 0, transparent 15%, @basic_grey 10px, @basic_grey 100%);
    border: none;
    row-gap: 26px;
  }

  @media (min-width: @desktop-width) {
    row-gap: 23px;
  }
}

.product-info__wrap {
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
  }

  @media (min-width: @desktop-width) {
    row-gap: 17px;
  }
}

.product-info__wrap-photo {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: flex-end;
    height: 208px;
  }
}

.product-info__small-photo {
  @media (min-width: @tablet-width) {
    width: 324px;
    height: 172px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 172px;
  }
}

.product-info__big-photo {
  @media (min-width: @tablet-width) {
    width: 324px;
    height: 208px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 208px;
  }
}

.product-info__wrapper {
  width: 50%;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    row-gap: 8px;
  }
}

.product-info__title {
  margin-top: 20px;
  .uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special_dark-grey-2;
  width: 80px;
  align-self: center;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 150px;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
  }
}

.product-info__table {
  @media (min-width: @tablet-width) {
    padding: 0 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 40px;
  }
}

.product-info__weight,
.product-info__taste,
.product-info__price {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    width: 100%;
    padding-bottom: 7px;
    border-bottom: 1px solid @special_grey-2;
    margin-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 8px;
  }
}

.product-info__button {
  align-self: center;
  background-color: @basic_green-1;
  font-family: inherit;
  color: @white;
  .uppercase;
  padding: 19px 0 21px;
  width: 280px;
  font-size: 16px;
  line-height: 0;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
    width: 248px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
  }
}

.product-info__button:focus,
.product-info__button:hover {
  background-color: @basic_green-2;
}

.product-info__button:active {
  opacity: 0.3;
}
