.promo {
  color: @white;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: 100% 305px;
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 22px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 100% 305px;
  }

  @media (min-width: @tablet-width) {
    color: @black;
    background-image: none;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 720px 696px;
    margin-bottom: 85px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px 696px;
    }
  }
}

.promo__wrap {
  padding: 27px 6.25% 0;

  @media (min-width: @tablet-width) {
    padding: 50px 3.9% 511px;
  }

  @media (min-width: @desktop-width) {
    padding: 223px 7.64% 180px;
  }
}

.promo__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    width: 414px;
    padding-left: 87px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }
}

.promo__slogan {
  .uppercase();
  line-height: 14px;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 87px;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    margin-bottom: 52px;
  }
}

.promo__slogan::after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: relative;
  width: 280px;
  height: 271px;
  background-image: url("../img/index-can-mobile@1x.png");
  top: 30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-can-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/index-can-tablet@1x.jpg");
    width: 709px;
    height: 609px;
    position: absolute;
    z-index: -1;
    top: 350px;
    left: 28px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/index-can-desktop@1x.png");
    z-index: auto;
    top: 141px;
    left: 558px;
    width: 552px;
    height: 499px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index-can-desktop@2x.png");
    }
  }
}

.promo__button {
  display: inline-block;
  color: @white;
  background-color: @basic_green-1;
  .uppercase;
  padding: 10px 0;
  text-align: center;
  width: 100%;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding: 18px 0;
    width: 244px;
    margin-left: 83px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}
