html {
  overflow-x: hidden;
}

body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: @special_dark-grey-1;
}

a {
  .underline-none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
  padding: 0;
}
